<app-menu-item></app-menu-item>

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" color="light" (click)="openCustom()"><ion-icon name="menu-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title >home</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button size="large" class="button-menu" color="dark" (click)="openCustom()">Abra o menu<ion-icon name="menu-outline"></ion-icon></ion-button>
  </div>
</ion-content>
