
<ion-header>
    <ion-toolbar>
      <ion-title class="top-text">home</ion-title>
      <ion-button fill="clear" color="light" (click)="openCustom()"><ion-icon name="menu-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button size="large" class="button-menu" color="dark" (click)="openCustom()">Abra o menu<ion-icon name="menu-outline"></ion-icon></ion-button>
  </div>
  <app-menu-item></app-menu-item>
</ion-content>
