<ion-header>
  <ion-toolbar>
    <ion-title class="top-text">Buscar time</ion-title>
    <ion-button fill="clear"><ion-icon name="arrow-back" color="light"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion-text-center">
        <ion-searchbar placeholder="Buscar Time" color="dark"></ion-searchbar>
    </div>
    <ion-card class="card-team" color="dark">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Nome time</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card class="card-team" color="dark">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Nome time</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
        <ion-card class="card-team" color="dark">
            <ion-card-header class="ion-text-center">
              <ion-card-title>Nome time</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
          <ion-card class="card-team" color="dark">
              <ion-card-header class="ion-text-center">
                <ion-card-title>Nome time</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>
            </ion-card>
</ion-content>
