ion-content {
    --background: url('../../assets/img/images.png') no-repeat center center / cover !important;
    
}

.box-login{
    margin: 200px auto auto 0px;
}

.title-app{

    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;

    color: rgb(0, 0, 0);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.soccer-title{
    color: #024901;
}
.input-box{
    opacity: 1;
    background-color: #000000cb;
    color:white;
    border-radius: 1px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: black 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
