<app-menu-item></app-menu-item>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openCustom()" fill="clear"><ion-icon name="menu-outline" color="light"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Time</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <ion-card class="card-team" color="dark" >
    <ion-grid class="box-register">
    <ion-row>
      <ion-col size="12">
        <ion-input type="teste" class="input-box" name="name" [(ngModel)]="cadTeam.nameTeam" placeholder="Nome do time" ></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-textarea type="text" class="input-box" name="description" [(ngModel)]="cadTeam.description" placeholder="descrição"></ion-textarea>
      </ion-col>
      <ion-col size="12">
        <ion-label>Quantidade de membros</ion-label>
        <ion-select [(ngModel)]="cadTeam.quantity">
          <ion-select-option  value="6">6</ion-select-option>
          <ion-select-option  value="12">12</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-button type="text" (click)="createTeam()" color="dark">Criar</ion-button>
      </ion-col>
      <ion-col  size="12">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
 </div>
</ion-content>
