<ion-header>
    <ion-toolbar>
      <ion-title class="top-text">Perfil</ion-title>
      <ion-button href="/home" fill="clear"><ion-icon name="arrow-back" color="light"></ion-icon> </ion-button>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <div class="ion-text-center">
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Ricardo</ion-label>
    </ion-chip>
  </div>


  
  <div class="bio">
          <ion-label>18 anos</ion-label>
      <ion-text color="dark" class="bio">
          <h5>Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.</h5>
        </ion-text>
  </div>
 
    
  <ion-card class="card-team" color="dark">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Nome time</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <div class="ion-text-center">
      <ion-button fill="clear" color="dark"> Editar </ion-button>
      
    </div>

</ion-content>