.top-text{
    background-color: #001D01 !important;
    color: white;
}
.bio{
    margin-top: 50px;
    margin-left: 20px;
    
    border-bottom: 1px solid rgba(56, 56, 56, 0.712);
}

.card-team{
    margin-top: 150px;
    border-radius: 26px;

    opacity: 0.80;
}

.info{
    margin-top:20px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.d{
    border: 1px solid black;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}