
<ion-content>
  <div id="container">
    <div class="ion-text-center title-app">
        <ion-text>Easy-</ion-text><ion-text class="soccer-title">Soccer</ion-text>
    </div>
   <div>
      <ion-grid class="box-register">
      <ion-row>
        <ion-col size="12">
          <ion-input type="email" class="input-box" [(ngModel)]="user.email" name="E-mail" placeholder="    E-mail" ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input type="text" class="input-box" [(ngModel)]="user.name" name="name" placeholder="    Name" ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input type="password" class="input-box" [(ngModel)]="user.password" name="username" placeholder="    Password" ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input type="password" class="input-box" [(ngModel)]="user.repeatPassword" name="password" placeholder="    Repeat Password"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-button type="text" (click)="createAccount()" color="dark">Registrar</ion-button>
        </ion-col>
        <ion-col  size="12">
          <ion-button type="text" placeholder="" href="/login" color="dark">Voltar ao login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   </div>
  </div>
</ion-content>
